/* styles for the about us paragraph and image */
div.aboutUsSummary {
	width: clamp(80%, 70%, 2000px);
	// padding: 1rem;
	background-color: $light-background;
	margin: 5rem auto;

	box-shadow: $dark-shadow;

	border-radius: $radius-small;
	h1 {
		text-align: center;
		margin: 1rem;
		font-size: $scalable-header-font;
	}
	div {
		// display: flex;
		p {
			font-size: $scalable-text-font;
			display: block;
			clear: both;
			padding: 1rem;
			&:first-of-type {
				clear: none;
				height: 100%;
				padding-top: 0;
			}
		}
		img {
			width: 40%;
			margin: 0 1rem;
			// min-width: 8rem;
			float: left;
		}
	}
	@media only screen and (max-width: 760px) {
		& {
			h1 {
				font-size: 1.25rem;
			}
			div {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;
				padding: 1vw;
				p {
					order: 2;
					width: 80%;
					font-size: 1rem;
				}
				img {
					order: 1;
					width: 80%;
					margin: 0.1rem;
				}
			}
		}
	}
}

/* Style for image gallery */
div.homeGallery {
	width: clamp(80%, 70%, 2000px);
	padding: 1rem;
	box-shadow: $dark-shadow;
	margin: {
		top: 5vh;
		right: auto;
		left: auto;
	}
}
