/* styles for the about us paragraph and image */
div.aboutUsSummary {
	width: clamp(80%, 70%, 1000px);
	max-width: 1400px;
	// padding: 1rem;
	background-color: $light-background;
	margin: 4rem auto;
	padding: 1rem;

	box-shadow: $dark-shadow;

	border-radius: $radius-large;
	h1 {
		text-align: center;
		padding: 1rem;
		font-size: $scalable-header-font;
	}
	div {
		// display: flex;
		p {
			font-size: $scalable-text-font;
			display: block;
			clear: none;
			padding: 0.75rem;
			text-align: left;
			@media screen and (max-width: 924px) {
				clear: both;
			}
			&:first-of-type {
				clear: none;
				height: 100%;
				padding-top: 0;
			}
		}
		img {
			width: 40%;
			min-width: 22rem;
			max-height: 16rem;
			padding: 0 1rem;
			float: left;
		}
	}
	@media only screen and (max-width: 760px) {
		& {
			padding-block: 0;
			h1 {
				font-size: 1.5rem;
			}
			div {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;
				padding: 0;
				p {
					order: 2;
					width: 100%;
					font-size: 1rem;
					padding: 0.75rem !important;
				}
				img {
					order: 1;
					width: 100%;
					margin: 0.1rem;
				}
			}
		}
	}
}

/* Style for image gallery */
div.homeGallery {
	width: clamp(80%, 70%, 2000px);
	padding: 1rem;
	box-shadow: $dark-shadow;
	border-radius: $radius-large;
	margin: {
		top: 5vh;
		right: auto;
		left: auto;
	}
}
