form#login {
  position: relative;
  width: clamp(350px, 40%, 500px);
  background-color: #f5f6fa;
  padding: 1rem;
  height: 50vh;
  min-height: 350px;
  max-height: 400px;
  margin: {
    left: auto;
    right: auto;
    top: 10vh;
  }
  h1 {
    text-align: center;
    font-size: $scalable-text-font;
  }
  img {
    width: 10%;
    min-width: 30px;
    display: block;
    margin: {
      left: auto;
      right: auto;
    }
  }
  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    label {
      width: 100%;
      text-align: center;
    }
    input {
      padding: 0.5rem;
      width: 50%;
      min-width: 150px;
      border-radius: 2rem;
      box-shadow: $dark-shadow;
    }
  }
  button {
    position: absolute;
    border-radius: 2rem;
    top: auto;
    right: 35%;
    left: 35%;
    bottom: 10px;
    padding: 1rem;
    width: 30%;
    background-color: $accent-color;
    color: $clr-black;
  }
  .form-error {
    display: none;
    visibility: hidden;
    text-align: center;
    padding: 2rem 0.5rem;
  }
  @media only screen and (max-width: 760px) {
    & {
      h1 {
        font-size: 1rem;
      }
      button {
        width: 80%;
        left: 10%;
        right: 10%;
      }
    }
  }
}

a#mainPgBtn,
a#mainPgBtn:visited {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: $accent-color;
  color: $clr-black;
  text-decoration: none;
  text-align: center;
  width: 20%;
  min-width: 200px;
  padding: 1rem;
}
