$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius-small: 2px;
$radius-medium: 8px;
$radius-large: 16px;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
$scalable-header-font: calc(2vw + 1vh);
$scalable-text-font: clamp(1.25rem, 2vw, 1.5rem);
$question-font-size: clamp(1rem, 2vw, 1.4rem);
