$light-background: #f5f6fa;
$light-background-translucent: #f5f6faaa;
$medium-light-background: #ecf0f1;
$accent-color: #f7941d;
$dark-background: #2d3436;

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$font-dark: #2d3436;
$transparent-dark: #00000033;
$transparent-darker: #00000066;
$font-light: $light-background;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
