@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type='radio'] {
  vertical-align: text-bottom;
}

input [type='checkbox'] {
  vertical-align: bottom;
}

.ie7 input [type='checkbox'] {
  vertical-align: baseline;
}

.ie6 input[type='checkbox'] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button {
  cursor: pointer;
}

button,
input[type='button'] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* Other Colors used */
html {
  margin-top: 3.5rem;
}

body {
  background: #2f3640;
  font-family: 'Roboto', 'sans-serif';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  background: #f5f6fa;
  -o-object-fit: contain;
     object-fit: contain;
}

p {
  padding: 10px;
}

p.reader {
  display: none;
}

hr {
  margin: 0;
}

/* Other Colors used */
.App {
  background-color: red;
}

/* styles for the about us paragraph and image */
div.aboutUsSummary {
  width: clamp(80%, 70%, 2000px);
  background-color: #f5f6fa;
  margin: 4rem auto;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

div.aboutUsSummary h1 {
  text-align: center;
  padding: 1rem;
  font-size: calc(2vw + 1vh);
}

div.aboutUsSummary div p {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  display: block;
  clear: both;
  padding: 1rem;
  text-align: left;
}

div.aboutUsSummary div p:first-of-type {
  clear: none;
  height: 100%;
  padding-top: 0;
}

div.aboutUsSummary div img {
  width: 40%;
  margin: 0 1rem;
  float: left;
}

@media only screen and (max-width: 760px) {
  div.aboutUsSummary h1 {
    font-size: 1.25rem;
  }
  div.aboutUsSummary div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1vw;
  }
  div.aboutUsSummary div p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    font-size: 1rem;
  }
  div.aboutUsSummary div img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    margin: 0.1rem;
  }
}

/* Style for image gallery */
div.homeGallery {
  width: clamp(80%, 70%, 2000px);
  padding: 1rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
}

#aboutUs {
  text-align: center;
}

#aboutUs .supText {
  margin: 1rem auto;
  text-align: center;
  font-size: calc(2vw + 1vh);
  color: #fff;
}

#aboutUs #infoAboutUs {
  width: clamp(80%, 70%, 2000px);
  padding: 1rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #f5f6fa;
  margin: 3rem auto;
}

#aboutUs #infoAboutUs h1 {
  text-align: center;
  font-size: calc(2vw + 1vh);
}

#aboutUs #infoAboutUs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw;
}

#aboutUs #infoAboutUs div p {
  width: 40%;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

#aboutUs #infoAboutUs div img {
  width: 40%;
  min-width: 8rem;
}

@media only screen and (max-width: 975px) {
  #aboutUs #infoAboutUs h1 {
    font-size: 1.25rem;
  }
  #aboutUs #infoAboutUs div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #aboutUs #infoAboutUs div p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    font-size: 1rem;
  }
  #aboutUs #infoAboutUs div img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    margin: 0.1rem;
  }
}

#aboutUs .teamContainer {
  margin: 0 auto;
  background-color: white;
  width: clamp(80%, 70%, 2000px);
  border-radius: 2px;
}

#aboutUs .teamContainer h1 {
  color: #2d3436;
  padding: 1rem;
  margin: 0;
}

#aboutUs .rows {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  padding: 0 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

@media screen and (max-width: 1240px) {
  #aboutUs .rows {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  #aboutUs .rows {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#aboutUs .rows div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f6fa;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#aboutUs .rows div h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0.5rem;
}

#aboutUs .rows div p {
  padding: 0 1rem;
  padding-bottom: 1.5rem;
  margin: 0.5rem;
  text-align: left;
  text-indent: 1.5rem;
}

#aboutUs .rows div img {
  width: auto;
  display: block;
}

#adminRecords input {
  height: 50px;
  width: 350px;
  border-radius: 50px;
  padding-left: 20px;
  margin: 2rem auto 2rem auto;
}

#adminRecords input search-cancel-button {
  cursor: pointer;
}

#adminRecords input:focus {
  outline: none;
}

#adminRecords .infoBlock:nth-of-type(1) {
  margin: 0;
  margin-bottom: 20px;
}

.card-container {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 1rem;
  margin: 1rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1280px) {
  .card-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card-container .empty-list {
  position: absolute;
  left: 0;
  font-size: 2rem;
  color: #f5f6fa;
  width: 100%;
  text-align: center;
}

div.petPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(90%, 70%, 2000px);
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  background-color: #f5f6fa;
}

div.petPage #petImageNames li {
  font-size: 1rem;
}

div.petPage #petImageNames li:hover {
  -webkit-text-decoration: line-through 2px red;
          text-decoration: line-through 2px red;
}

div.petPage div {
  width: 40%;
}

div.petPage div.petInfo {
  text-align: center;
}

div.petPage div.petInfo .pet-name {
  font-size: 2.25rem;
  margin: 1rem;
}

div.petPage div.petInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.25rem;
}

div.petPage div.petInfo .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 512px) {
  div.petPage div.petInfo .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

div.petPage div.petInfo .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 1rem;
}

div.petPage div.petInfo .row .col.facts {
  gap: 0.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.petPage div.petInfo .row .col ul {
  list-style: square;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

div.petPage div.petInfo .added-note {
  margin: 1rem 0.5rem;
}

div.petPage div.petInfo .adopt-button {
  display: block;
  color: #222;
  background-color: #f7941d;
  padding: 0.75rem 1rem;
  margin: 2rem auto;
  border-radius: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

@media only screen and (max-width: 760px) {
  div.petPage {
    display: block;
  }
  div.petPage div {
    width: 80%;
    margin: 0 auto;
  }
  div.petPage div h1 {
    font-size: 1.25rem !important;
  }
  div.petPage div p,
  div.petPage div li {
    font-size: 1rem !important;
  }
  div.petPage div.petGallery {
    height: 40vh;
    margin-bottom: 1rem;
  }
}

form#login {
  position: relative;
  width: clamp(350px, 40%, 500px);
  background-color: #f5f6fa;
  padding: 1rem;
  height: 50vh;
  min-height: 350px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

form#login h1 {
  text-align: center;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

form#login img {
  width: 10%;
  min-width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form#login section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form#login section label {
  width: 100%;
  text-align: center;
}

form#login section input {
  padding: 0.5rem;
  width: 50%;
  min-width: 150px;
  border-radius: 2rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

form#login button {
  position: absolute;
  border-radius: 2rem;
  top: auto;
  right: 35%;
  left: 35%;
  bottom: 10px;
  padding: 1rem;
  width: 30%;
  background-color: #f7941d;
  color: #222;
}

form#login .form-error {
  display: none;
  visibility: hidden;
  text-align: center;
  padding: 2rem 0.5rem;
}

@media only screen and (max-width: 760px) {
  form#login h1 {
    font-size: 1rem;
  }
  form#login button {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}

a#mainPgBtn,
a#mainPgBtn:visited {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #f7941d;
  color: #222;
  text-decoration: none;
  text-align: center;
  width: 20%;
  min-width: 200px;
  padding: 1rem;
}

#adminIndApp main {
  width: calc(100% - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
}

#adminIndApp main .appBlock {
  width: calc(50% - 3rem);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: #f5f6fa;
  word-wrap: break-word;
  padding: 1rem;
  margin-bottom: 2rem;
}

#adminIndApp main .appBlock .row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#adminIndApp main .appBlock h1 {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

#adminIndApp main .appBlock h2 {
  padding: 10px;
}

#adminIndApp main .appBlock p {
  max-width: 100%;
}

#adminIndApp main .appBlock img {
  width: 100%;
}

#adminIndApp main .appBlock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style: inside;
  margin: 1rem;
}

#adminIndApp main .appBlock .choice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 0.5rem;
}

#adminIndApp main .appBlock .choice button {
  width: calc(50% - 1.3rem);
  height: 2rem;
}

#adminIndApp main .appBlock .choice button:nth-of-type(1) {
  background-color: #2ecc71;
}

#adminIndApp main .appBlock .choice button:nth-of-type(1):hover {
  background-color: #208C4D;
}

#adminIndApp main .appBlock .choice button:nth-of-type(2) {
  background-color: #d62828;
}

#adminIndApp main .appBlock .choice button:nth-of-type(2):hover {
  background-color: #961D1D;
}

@media screen and (max-width: 850px) {
  #adminIndApp main .appBlock {
    width: 100%;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #f5f6fa;
  z-index: 1;
  top: 0;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  max-height: 3.5rem;
}

.navbar ul div {
  max-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul div .nav-logo {
  padding: 0.25rem 1rem;
}

.navbar ul div .nav-logo img {
  height: 100%;
  width: 100%;
}

.navbar ul div .menu-button {
  display: none;
  visibility: hidden;
}

.navbar ul div .nav-item a,
.navbar ul div .nav-item button {
  display: block;
  color: #2d3436;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: transparent;
}

.navbar ul div .nav-item a.link:hover,
.navbar ul div .nav-item button.link:hover {
  background-color: #d8d8d8;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.navbar ul div .nav-item a.active,
.navbar ul div .nav-item button.active {
  background-color: #f7941d !important;
}

.navbar ul div .nav-item a.active:hover,
.navbar ul div .nav-item button.active:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.navbar ul div .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.navbar ul div .title a {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5f6fa;
    height: 7rem;
  }
  .navbar ul .menu-button {
    display: -ms-grid !important;
    display: grid !important;
    visibility: visible !important;
    place-items: center;
    margin-left: auto;
    padding: 0 1rem;
    cursor: pointer;
  }
  .navbar ul .menu-button i {
    font-size: 2.5rem;
  }
  .navbar ul .menu-button .fa-bars {
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .navbar ul .menu-button .open {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .navbar ul .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul .links .nav-item {
    background-color: #f5f6fa;
  }
  .navbar ul .links .link {
    background-color: #f5f6faaa;
  }
  .navbar ul .links {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  .navbar ul .links .link {
    -webkit-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  .navbar ul .links.closed {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  .navbar ul .links.closed .link {
    opacity: 0;
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
  }
}

.banner {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  width: 100%;
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
}

.banner h1 {
  position: absolute;
  color: #f5f6fa;
  font-size: clamp(1rem, 4vw, 2rem);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  width: calc(100% - 2rem);
  background-color: #f5f6fa;
}

.filters .selection-buttons {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  margin: 0.25rem 0.5rem;
}

.filters .selection-buttons button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  outline: 1px solid #2d3436;
  border-radius: 2px;
  background-color: #d8d8d8;
}

.filters .selection-buttons button.active {
  background-color: #f7941d;
  color: #222;
  outline: 2px solid #f7941d;
}

.filters .sorting-inputs {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.filters .sorting-inputs .sort-by-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.filters .sorting-inputs button,
.filters .sorting-inputs select {
  outline: 1px solid #2d3436;
  border-radius: 2px;
  background-color: #d8d8d8;
}

@media screen and (max-width: 425px) {
  .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filters .selection-buttons,
  .filters .sorting-inputs {
    font-size: 1.15rem;
    margin: 0.5rem;
  }
  .filters .sorting-inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-block: 0.5rem 0.75rem;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 1rem;
  }
  .filters .sorting-inputs button,
  .filters .sorting-inputs select {
    margin: 0 0.75rem;
  }
  .filters .sorting-inputs select {
    padding: 10px;
  }
  .filters .selection-buttons {
    margin: 0.5rem auto 0 auto;
  }
  .filters .sort-by-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

div.carousel {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-color: #f5f6fa;
}

div.carousel i.arrow {
  position: absolute;
  top: 50%;
  bottom: auto;
  font-size: 2rem;
  color: #2d3436;
  mix-blend-mode: difference;
  cursor: pointer;
}

div.carousel i.arrow:hover {
  color: #222;
}

div.carousel i.arrow.leftArrow {
  left: 1vw;
}

div.carousel i.arrow.rightArrow {
  right: 1vw;
  left: auto;
  text-align: right;
}

div.carousel div.carouselImages .carouselImg {
  position: absolute;
  top: calc(50% - 2rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: calc(100% - 2rem - 3vh);
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
  -o-object-fit: cover;
     object-fit: cover;
}

div.carousel div.carouselImages .carouselImg.activeImg {
  opacity: 1;
}

div.carousel div.carouselBtnPanel {
  position: absolute;
  bottom: 0;
  height: 10%;
  padding: 1rem;
  background-color: #f5f6fa;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

div.carousel div.carouselBtnPanel button.carouselBtn {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  margin: 0 0.25rem;
  height: 3vh;
  background-color: #949494;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

div.carousel div.carouselBtnPanel button.carouselBtn.activeBtn {
  background-color: #303030;
}

.card {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  inset: 0;
  color: #fff;
}

.card .content h2 {
  text-align: center;
  padding: 0.25rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.card .content p {
  width: clamp(27%, 405px, 90%);
  font-size: 14px;
  margin-inline: auto;
  margin-top: auto;
  text-align: center;
  visibility: hidden;
  display: none;
}

.card .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .btnContainer a {
  background: #f7941d;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 1.25rem;
  font-size: clamp(0.9rem, 10vw, 1.25rem);
  margin: 1rem;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.card .btnContainer a:hover {
  background-color: #d8d8d8;
  color: #f7941d;
}

.card.empty {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  visibility: hidden;
}

@media screen and (min-width: 769px) {
  .card .content {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(calc(100% - (2.4rem + 8px)));
            transform: translateY(calc(100% - (2.4rem + 8px)));
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  .card .content p,
  .card .content .btnContainer {
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  }
  .card .content h2 {
    background-color: transparent;
  }
  .card .content a {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
  }
  .card .content p {
    margin-top: 0;
    visibility: visible;
    display: block;
  }
  .card:hover .content, .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content h2,
  .card:hover .content p,
  .card:hover .content .btnContainer, .card:focus-within .content h2,
  .card:focus-within .content p,
  .card:focus-within .content .btnContainer {
    opacity: 1;
  }
}

footer {
  color: #f5f6fa;
  background-color: #2d3436;
  margin-top: auto;
}

footer .row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .row.top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  color: #f5f6fa;
  padding-top: 1rem;
}

footer .row.top .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .row.top .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .row.top .col ul li {
  padding: 0.1rem;
}

footer .row.top .col ul li.title {
  color: #f7941d;
  font-size: 110%;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 0;
}

footer .row.top .col ul li a {
  color: #f5f6fa;
  text-decoration: none;
}

footer .row.top .col ul li a:active {
  color: #f7941d;
}

footer .row.top .col ul li a:hover, footer .row.top .col ul li a:focus {
  text-decoration: underline;
}

footer .row .socials {
  margin-top: 1.4rem;
  margin-bottom: 2.4rem;
  height: 0;
}

footer .row .socials ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 200%;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .row .socials ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0;
  margin-right: 2.3rem;
  margin-left: 2.3rem;
}

footer .row .socials ul li a {
  color: #f5f6fa;
}

footer .row .socials ul li a:active {
  color: #f7941d;
}

footer .row .socials ul li a:hover, footer .row .socials ul li a:focus {
  text-decoration: underline;
}

footer .row p {
  margin: 0.5rem 0;
}

@media screen and (max-width: 556px) {
  ul {
    text-align: center;
  }
  footer .top .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .top .col .title {
    padding-left: 0.5rem !important;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.question {
  margin: 1rem auto;
  width: clamp(90%, 70%, 2000px);
  background-color: #f5f6fa;
  padding: 1rem;
}

div.question h1 {
  font-size: clamp(1rem, 2vw, 1.4rem);
}

div.question input[type="text"],
div.question input[type="tel"],
div.question input[type="email"],
div.question input[type="number"],
div.question input[type="date"] {
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
  width: 100%;
  outline: none;
  font-size: 1.25rem;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

div.question input[type="text"]:focus,
div.question input[type="tel"]:focus,
div.question input[type="email"]:focus,
div.question input[type="number"]:focus,
div.question input[type="date"]:focus {
  border-bottom: 4px solid #f7941d;
}

div.question textarea {
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  outline: none;
  resize: none;
  font-family: inherit;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

div.question textarea:focus {
  border-bottom: 4px solid #f7941d;
}

div.question input[type="text"],
div.question input[type="tel"],
div.question input[type="email"],
div.question input[type="number"],
div.question textarea {
  position: relative;
}

div.question input[type="text"]::after,
div.question input[type="tel"]::after,
div.question input[type="email"]::after,
div.question input[type="number"]::after,
div.question textarea::after {
  content: "";
  position: absolute;
  background-color: #f7941d;
  inset: 0;
}

div.question ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
}

@media only screen and (max-width: 760px) {
  div.question ul {
    display: block;
  }
}

button#submitAdoptForm {
  background-color: #f7941d;
  color: #222;
  font-family: inherit;
  padding: 1rem;
  width: clamp(200px, 10%, 500px);
  margin: 0 auto;
}

.infoBlock {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.infoBlock .record {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: white;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid black;
}

.infoBlock .record.template {
  border-radius: 10px;
  font-weight: bold;
}

.infoBlock .record.template p {
  cursor: pointer;
}

.infoBlock .record .moreInfo {
  margin-left: auto;
  padding-left: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
}

.infoBlock .record .moreInfo a,
.infoBlock .record .moreInfo a:visited {
  color: inherit;
  text-decoration: none;
}

.infoBlock .appl {
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5%;
  display: none;
}

.infoBlock .appl .record {
  width: 100%;
}

.infoBlock .appl .record:first-of-type {
  margin-top: 0;
}

div#newPet {
  margin-top: 4rem;
}

div#newPet form {
  background-color: #f5f6fa;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

div#newPet form h1 {
  font-size: 3rem;
  text-align: center;
  color: #222;
}

div#newPet form div#imageInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div#newPet form div#imageInput div#images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  div#newPet form div#imageInput {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.1vh;
  }
}

div#newPet form div#imageInput,
div#newPet form input[type="text"],
div#newPet form input[type="date"],
div#newPet form input[type="url"],
div#newPet form textarea,
div#newPet form select {
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
  width: 100%;
  outline: none;
  font-size: 1.25rem;
  margin: 0.1rem auto;
  font-family: inherit;
  color: inherit;
  resize: none;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

div#newPet form div#imageInput:focus,
div#newPet form input[type="text"]:focus,
div#newPet form input[type="date"]:focus,
div#newPet form input[type="url"]:focus,
div#newPet form textarea:focus,
div#newPet form select:focus {
  border-bottom: 4px solid #f7941d;
}

div#newPet form button {
  background-color: #f7941d;
  color: #222;
  font-family: inherit;
  padding: 1rem;
  width: clamp(200px, 10%, 500px);
  margin: 1.5rem auto;
}

div.confirmationBox {
  width: 100%;
  height: 100vh;
  background-color: rgba(45, 52, 54, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100000;
}

div.confirmationBox div {
  width: 40vw;
  height: 40vh;
  min-width: 300px;
  background-color: #f5f6fa;
  border-bottom: 2px solid #f7941d;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

div.confirmationBox div h1 {
  font-size: 2rem;
  color: #f7941d;
  text-align: center;
}

div.adminPetInfo {
  width: 90% !important;
}

div.adminPetInfo form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.adminPetInfo form button {
  display: block;
  color: #222;
  background-color: #f7941d;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

div.adminPetInfo input.pet-name {
  width: 90%;
}

div.adminPetInfo input,
div.adminPetInfo textarea,
div.adminPetInfo select {
  font-family: inherit;
  padding: 0.1rem;
  resize: none;
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
}

div.adminPetInfo input[type="file"] {
  background-color: transparent;
  border: none;
}

div.adminPetInfo textarea {
  width: 100%;
  height: 10vh;
}

.modal-container {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-container .background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  background: rgba(9, 9, 9, 0.8);
}

.modal-container .background .modal {
  width: 600px;
  min-height: 200px;
  background: #f7f7f7;
  position: relative;
  z-index: 999999;
  overflow: hidden;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.modal-container .background .modal .title {
  border-top: 5px solid #f7941d;
  border-bottom: 3px solid #eaeaea;
  background: white;
  color: #f7941d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: default;
  -webkit-animation: border-top-color 2s infinite linear;
          animation: border-top-color 2s infinite linear;
}

.modal-container .background .modal .title .container-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .background .modal .title .container-actions .fullscreen-modal {
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  cursor: pointer;
}

.modal-container .background .modal .title .container-actions .fullscreen-modal:hover {
  color: black;
}

.modal-container .background .modal .title .container-actions .close-modal {
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  cursor: pointer;
  margin-left: 0.4rem;
}

.modal-container .background .modal .title .container-actions .close-modal:hover {
  color: #bb2a2a;
}

.modal-container .background .modal .content {
  padding: 2rem;
  color: #454545;
  text-align: justify;
}

.modal-container .background .modal .buttons {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-container .background .modal .buttons button {
  border: none;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 900;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  margin-left: 0.5rem;
  border-bottom: 3px solid #c4c4c4;
  background: #eaeaea;
  color: #5e5e5e;
}

.modal-container .background .modal .buttons button:hover {
  background: #dedede;
}

.modal-container .background .modal .buttons button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.modal-container .background .modal .buttons button:first-child {
  margin-left: 0;
}

.modal-container .background .modal .buttons .primary-button {
  border-bottom: 3px solid #a85e06;
  background: #f7941d;
  color: white;
}

.modal-container .background .modal .buttons .primary-button:hover {
  background: #d97a08;
}

.modal-container .background .modal .buttons .red-button {
  border-bottom: 3px solid #681717;
  background: #bb2a2a;
  color: white;
}

.modal-container .background .modal .buttons .red-button:hover {
  background: #912121;
}

.modal-container .background .not-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.modal-container .background .fullscreen {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-container .background .fullscreen .title,
.modal-container .background .fullscreen .buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.modal-container .background .fullscreen .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@-webkit-keyframes border-top-color {
  0% {
    border-top: 5px solid #f7941d;
  }
  50% {
    border-top: 5px solid #fab767;
  }
  100% {
    border-top: 5px solid #f7941d;
  }
}

@keyframes border-top-color {
  0% {
    border-top: 5px solid #f7941d;
  }
  50% {
    border-top: 5px solid #fab767;
  }
  100% {
    border-top: 5px solid #f7941d;
  }
}

div#newUser {
  margin-top: 4rem;
}

div#newUser form {
  background-color: #f5f6fa;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

div#newUser form h1 {
  font-size: 3rem;
  text-align: center;
  color: #222;
}

div#newUser form div#imageInput,
div#newUser form input[type="text"],
div#newUser form input[type="email"],
div#newUser form input[type="password"],
div#newUser form textarea,
div#newUser form select {
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
  width: 100%;
  outline: none;
  font-size: 1.25rem;
  margin: 0.1rem auto;
  font-family: inherit;
  color: inherit;
  resize: none;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

div#newUser form div#imageInput:focus,
div#newUser form input[type="text"]:focus,
div#newUser form input[type="email"]:focus,
div#newUser form input[type="password"]:focus,
div#newUser form textarea:focus,
div#newUser form select:focus {
  border-bottom: 4px solid #f7941d;
}

div#newUser form button {
  background-color: #f7941d;
  color: #222;
  font-family: inherit;
  padding: 1rem;
  width: clamp(200px, 10%, 500px);
  margin: 1.5rem auto;
}

div#currUsers {
  background-color: #f5f6fa;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

div#currUsers #userHead {
  font-weight: bold;
}

div#currUsers .user,
div#currUsers #userHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#currUsers .user p,
div#currUsers #userHead p {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

div#currUsers .user p.name,
div#currUsers #userHead p.name {
  width: 15%;
}

div#currUsers .user p.email,
div#currUsers .user p.password,
div#currUsers #userHead p.email,
div#currUsers #userHead p.password {
  width: 30%;
}

div#currUsers .user p.password,
div#currUsers #userHead p.password {
  -webkit-text-security: disc;
}

div#currUsers .user p.password:hover,
div#currUsers #userHead p.password:hover {
  -webkit-text-security: none;
}

div#currUsers .user button,
div#currUsers #userHead button {
  width: 15vw;
  min-width: 150px;
  background-color: #f7941d;
  color: #222;
  padding: 0.5rem;
}

@media only screen and (max-width: 700px) {
  div#currUsers .user {
    border-bottom: 2px solid #f7941d;
  }
  div#currUsers .user p {
    min-width: 100%;
  }
  div#currUsers #userHead {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */