@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Other Colors used */
html {
  margin-top: 3.5rem;
}

body {
  background: #2f3640;
  font-family: "Roboto", "sans-serif";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  background: #f5f6fa;
}

p {
  padding: 10px;
}

hr {
  margin: 0;
}

/* Other Colors used */
.App {
  background-color: red;
}

/* styles for the about us paragraph and image */
div.aboutUsSummary {
  width: clamp(80%, 70%, 2000px);
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #f5f6fa;
  margin: 5rem auto;
}
div.aboutUsSummary h1 {
  text-align: center;
  font-size: calc(2vw + 1vh);
}
div.aboutUsSummary div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
}
div.aboutUsSummary div p {
  width: 40%;
  font-size: calc(1.25vw + 0.5vh);
}
div.aboutUsSummary div img {
  width: 40%;
  min-width: 8rem;
}
@media only screen and (max-width: 760px) {
  div.aboutUsSummary h1 {
    font-size: 1.25rem;
  }
  div.aboutUsSummary div {
    flex-wrap: wrap;
  }
  div.aboutUsSummary div p {
    order: 2;
    width: 80%;
    font-size: 1rem;
  }
  div.aboutUsSummary div img {
    order: 1;
    width: 80%;
    margin: 0.1rem;
  }
}

/* Style for image gallery */
div.homeGallery {
  width: clamp(80%, 70%, 2000px);
  padding: 1rem;
<<<<<<< HEAD
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 5vh;
=======
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 15vh;
>>>>>>> 057a41789350c824d73f95f74dcd602d901c27d4
  margin-right: auto;
  margin-left: auto;
}

#aboutUs {
  text-align: left;
}
#aboutUs .supText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 25px;
  margin: auto;
  margin-top: 10px;
}
#aboutUs #infoAboutUs {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #f5f6fa;
  box-sizing: content-box;
  padding: 16px;
  margin: 30px;
}
@media screen and (min-width: 880px) {
  #aboutUs #infoAboutUs * {
    width: 31%;
  }
}
@media screen and (max-width: 880px) {
  #aboutUs #infoAboutUs * {
    width: 46%;
    margin-top: 20px;
  }
}
#aboutUs .rows {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  padding: 16px;
}
@media screen and (max-width: 1240px) {
  #aboutUs .rows {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 750px) {
  #aboutUs .rows {
    grid-template-columns: 1fr;
  }
}
#aboutUs .rows div {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  box-sizing: border-box;
  background: #f5f6fa;
  padding: 25px;
  margin: 15px;
}
#aboutUs .rows div img {
  width: 80%;
  margin-bottom: 10px;
}

#records input {
  height: 50px;
  width: 35%;
  border-radius: 50px;
  padding-left: 20px;
  margin: 50px;
}
#records main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#records main .record {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
  background: white;
  padding: 10px;
  border: 2px solid black;
  border-bottom: none;
  font-size: 20px;
}
#records main .record.template {
  border-radius: 10px;
  font-weight: bold;
  margin: 30px;
}
#records main .record:last-of-type {
  border-bottom: 2px solid black;
}
#records main .record .moreInfo {
  position: absolute;
  right: 0;
}

.card-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 1rem;
  margin: 0.5rem 1rem;
}
@media screen and (max-width: 1280px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
.card-container .empty-list {
  position: absolute;
  font-size: 2rem;
  color: #f5f6fa;
  width: 100%;
  text-align: center;
}

div.petPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: clamp(90%, 70%, 2000px);
  margin: 5rem auto 0 auto;
  padding: 1rem;
  background-color: #f5f6fa;
}
div.petPage div {
  width: 40%;
}
<<<<<<< HEAD
div.petPage div.petInfo h1 {
=======

div.petPage div.petInfo {
>>>>>>> 057a41789350c824d73f95f74dcd602d901c27d4
  text-align: center;
}
<<<<<<< HEAD
div.petPage div.petInfo ul {
  list-style-type: circle;
}
div.petPage div.petInfo p,
div.petPage div.petInfo li {
  font-size: calc(1.25vw + 0.5vh);
}
div.petPage div.petInfo a {
  text-decoration: none !important;
}
div.petPage div.petInfo button {
  display: block;
  margin: 0 auto;
  padding: 1rem;
=======

div.petPage div.petInfo .pet-name {
  font-size: 2.25rem;
  margin: 1rem;
}

div.petPage div.petInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
}

div.petPage div.petInfo ul ul {
  list-style: circle;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

div.petPage div.petInfo .adopt-button {
  color: #fff;
>>>>>>> 057a41789350c824d73f95f74dcd602d901c27d4
  background-color: #f7941d;
  padding: 0.75rem 1rem;
  margin: 2rem;
  border-radius: 8px;
}
@media only screen and (max-width: 760px) {
  div.petPage {
    display: block;
  }
  div.petPage div {
    width: 80%;
    margin: 0 auto;
  }
  div.petPage div h1 {
    font-size: 1.25rem !important;
  }
  div.petPage div p,
div.petPage div li {
    font-size: 1rem !important;
  }
  div.petPage div.petGallery {
    height: 40vh;
    margin-bottom: 1rem;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #f5f6fa;
  z-index: 1;
  top: 0;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  max-height: 3.5rem;
}
.navbar ul div {
  max-height: 3.5rem;
  display: flex;
}
.navbar ul div .nav-logo {
  padding: 0.25rem 1rem;
}
.navbar ul div .nav-logo img {
  height: 100%;
  width: 100%;
}
.navbar ul div .menu-button {
  display: none;
  visibility: hidden;
}
.navbar ul div .nav-item a {
  display: block;
  color: #2d3436;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 1.5rem;
}
.navbar ul div .nav-item a.link:hover {
  background-color: #00000033;
  transition: background-color 100ms linear;
}
.navbar ul div .nav-item a.active {
  background-color: #f7941d !important;
  color: #f5f6fa;
}
.navbar ul div .nav-item a.active:hover {
  filter: brightness(0.8);
}
.navbar ul div .title {
  display: grid;
  place-items: center;
}
.navbar ul div .title a {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    background-color: #f5f6fa;
    height: 7rem;
  }
  .navbar ul .menu-button {
    display: grid !important;
    visibility: visible !important;
    place-items: center;
    margin-left: auto;
    padding: 0 1rem;
    cursor: pointer;
  }
  .navbar ul .menu-button i {
    font-size: 2.5rem;
  }
  .navbar ul .menu-button .fa-bars {
    transition: 150ms;
  }
  .navbar ul .menu-button .open {
    transform: rotate(90deg);
    transform-origin: center;
  }
  .navbar ul .links {
    flex-direction: column;
  }
  .navbar ul .links .nav-item {
    background-color: #f5f6faaa;
  }
  .navbar ul .links .link {
    background-color: #f5f6faaa;
  }
  .navbar ul .links {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
  }
  .navbar ul .links .link {
    transition: opacity 100ms linear;
    transition-delay: 100ms;
  }
  .navbar ul .links.closed {
    transform: scaleY(0);
    transition-delay: 100ms;
  }
  .navbar ul .links.closed .link {
    opacity: 0;
    transition-delay: 0ms;
  }
}
.banner {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
  filter: brightness(45%);
}
.banner h1 {
  position: absolute;
  color: #f5f6fa;
  font-size: clamp(1rem, 4vw, 2rem);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: clamp(90%, 800px, 50%);
  background-color: #f5f6fa;
}
.filters .selection-buttons {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  margin: 0.25rem 0.5rem;
}
.filters .selection-buttons button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  outline: 1px solid #2d3436;
  border-radius: 2px;
  background-color: #ecf0f1;
}
.filters .selection-buttons button.active {
  background-color: #f7941d;
  color: #f5f6fa;
  outline: 2px solid #f7941d;
}
.filters .sorting-inputs {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  margin: 0 0.5rem;
  display: flex;
  gap: 2rem;
}
.filters .sorting-inputs .sort-by-container {
  display: flex;
  gap: 2rem;
}
.filters .sorting-inputs button,
.filters .sorting-inputs select {
  outline: 1px solid #2d3436;
  border-radius: 2px;
  background-color: #ecf0f1;
}

@media screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .filters .selection-buttons,
.filters .sorting-inputs {
    font-size: 1.25rem;
    margin: 0.5rem;
  }
  .filters .sorting-inputs {
    flex-wrap: wrap;
    margin: 0;
    margin-block: 0.5rem 0.75rem;
    width: 100%;
    justify-content: space-between;
  }
  .filters .sorting-inputs button,
.filters .sorting-inputs select {
    margin: 0 0.75rem;
  }
  .filters .selection-buttons {
    margin-bottom: 0;
  }
}
div.carousel {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-color: #f5f6fa;
}
div.carousel i.arrow {
  position: absolute;
  top: 50%;
  bottom: auto;
  font-size: 2rem;
  color: #00000033;
}
div.carousel i.arrow:hover {
  color: #00000066;
}
div.carousel i.arrow.leftArrow {
  left: 1vw;
  right: auto;
}
div.carousel i.arrow.rightArrow {
  right: 1vw;
  left: auto;
}
div.carousel div.carouselImages .carouselImg {
  position: absolute;
  top: calc(50% - 2rem);
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 2rem - 3vh);
  opacity: 0;
  transition: opacity 0.75s;
  -o-object-fit: cover;
     object-fit: cover;
}
div.carousel div.carouselImages .carouselImg.activeImg {
  opacity: 1;
}
div.carousel div.carouselBtnPanel {
  position: absolute;
  bottom: 0;
  height: 10%;
  padding: 1rem;
  background-color: #f5f6fa;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
div.carousel div.carouselBtnPanel button.carouselBtn {
  flex-grow: 0.5;
  margin: 0 0.25rem;
  height: 3vh;
  background-color: #00000033;
  transition: background-color 1s;
}
div.carousel div.carouselBtnPanel button.carouselBtn.activeBtn {
  background-color: #00000066;
}

.card {
  width: 100%;
  max-width: 550px;
  height: 38vh;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  color: #fff;
}
.card .content h2 {
  text-align: center;
  padding: 0.25rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.card .content p {
  width: clamp(27%, 405px, 90%);
  font-size: 14px;
  margin-inline: auto;
  margin-top: auto;
  text-align: center;
  visibility: hidden;
}
.card .btnContainer {
  display: flex;
  justify-content: center;
}
.card .btnContainer a {
  background: #f7941d;
  color: #f5f6fa;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 1.25rem;
  font-size: clamp(0.9rem, 10vw, 1.25rem);
  margin: 1rem;
  transition: background-color 300ms ease;
}
.card .btnContainer a:hover {
  background-color: #ecf0f1;
  color: #f7941d;
}
.card.empty {
  background: none;
  box-shadow: none;
  visibility: hidden;
}

@media screen and (min-width: 769px) {
  .card .content {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(calc(100% - (2.4rem + 8px)));
    transition: transform 300ms ease;
  }
  .card .content p,
.card .content .btnContainer {
    opacity: 0;
    transition: opacity 200ms linear;
  }
  .card .content h2 {
    background-color: transparent;
  }
  .card .content a {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
  }
  .card .content p {
    margin-top: 0;
    visibility: visible;
  }
  .card:hover .content, .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content h2,
.card:hover .content p,
.card:hover .content .btnContainer, .card:focus-within .content h2,
.card:focus-within .content p,
.card:focus-within .content .btnContainer {
    opacity: 1;
  }
}
footer {
  color: #f5f6fa;
  background-color: #2d3436;
  margin-top: auto;
}
footer .row {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .row.top {
  flex-direction: row;
  justify-content: space-around;
  color: #f5f6fa;
  padding-top: 1rem;
}
footer .row.top .col {
  display: flex;
  max-width: 30vw;
  width: 100%;
  text-align: left;
  justify-content: space-between;
}
footer .row.top .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .row.top .col ul li {
  padding: 0.1rem;
}
footer .row.top .col ul li.title {
  color: #f7941d;
  font-size: 110%;
  font-weight: bold;
  padding: 0.5rem;
}
footer .row.top .col ul li a {
  color: #f5f6fa;
  text-decoration: none;
}
footer .row.top .col ul li a:active {
  color: #f7941d;
}
footer .row.top .col ul li a:hover, footer .row.top .col ul li a:focus {
  text-decoration: underline;
}
footer .row.top .col.desc {
  flex-direction: column;
  justify-content: flex-start;
}
footer .row.top .col.desc h3 {
  margin: 0;
  padding: 0.5rem;
  color: #f7941d;
  font-size: 110%;
}
footer .row.top .col.desc p {
  margin: 0;
}
footer .row .socials ul {
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 200%;
  margin: 0;
  justify-content: center;
}
footer .row .socials ul li {
  padding-inline: 1rem;
}
footer .row .socials ul li a {
  color: #f5f6fa;
}
footer .row .socials ul li a:active {
  color: #f7941d;
}
footer .row .socials ul li a:hover, footer .row .socials ul li a:focus {
  text-decoration: underline;
}
footer .row p {
  margin: 0.5rem 0;
}

@media screen and (max-width: 456px) {
  ul {
    text-align: center;
  }
}
div.question {
  margin: 1rem auto;
  width: clamp(90%, 70%, 2000px);
  background-color: #f5f6fa;
  padding: 1rem;
}
div.question h1 {
  font-size: calc(1vw + 1vh);
}
div.question input[type=text],
div.question input[type=tel],
div.question input[type=email] {
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
  width: 100%;
  outline: none;
}
div.question textarea {
  background-color: rgba(34, 34, 34, 0.1);
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  outline: none;
  resize: none;
  font-family: inherit;
}
div.question ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #f7941d;
  padding: 1rem;
}
@media only screen and (max-width: 760px) {
  div.question ul {
    display: block;
  }
}

button#submitAdoptForm {
  background-color: #f7941d;
  color: #fff;
  font-family: inherit;
  padding: 1rem;
  width: clamp(200px, 10%, 500px);
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */