div.carousel {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-color: $light-background;
  i.arrow {
    position: absolute;
    top: 50%;
    bottom: auto;
    font-size: 2rem;
    color: #2d3436;
    mix-blend-mode: difference;

    cursor: pointer;
    &:hover {
      color: $clr-black;
    }
    &.leftArrow {
      left: 1vw;
    }
    &.rightArrow {
      right: 1vw;
      left: auto;
      text-align: right;
    }
  }

  div.carouselImages {
    .carouselImg {
      position: absolute;
      top: calc(50% - 2rem);
      left: 50%;
      transform: translate(-50%, -50%);
      height: calc(100% - 2rem - 3vh);
      opacity: 0;
      transition: opacity 0.75s;
      object-fit: cover;
      //box-shadow: 50px 0 45px -4px $dark-background,
      //-50px 0 45px -4px $dark-background;
      // object-fit: contain;

      &.activeImg {
        opacity: 1;
      }
    }
  }
  div.carouselBtnPanel {
    position: absolute;
    bottom: 0;
    height: 10%;
    padding: 1rem;
    background-color: $light-background;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    button.carouselBtn {
      border-radius: $radius-large;
      flex-grow: 0.5;
      margin: 0 0.25rem;
      height: 3vh;
      background-color: $btn-light;
      transition: background-color 1s;
      &.activeBtn {
        background-color: $btn-dark;
      }
    }
  }
}
