div#newPet {
  margin-top: 4rem;
  form {
    background-color: $light-background;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    h1 {
      font-size: 3rem;
      text-align: center;
      color: $clr-black;
    }
    div#imageInput {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      div#images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      @media only screen and (max-width: 700px) {
        & {
          flex-wrap: wrap;
          gap: 0.1vh;
        }
      }
    }
    div#imageInput,
    input[type="text"],
    input[type="date"],
    input[type="url"],
    textarea,
    select {
      background-color: rgba($color: $clr-black, $alpha: 0.1);
      border-bottom: 2px solid $accent-color;
      padding: 1rem;
      width: 100%;
      outline: none;
      font-size: 1.25rem;
      margin: 0.1rem auto;
      font-family: inherit;
      color: inherit;
      resize: none;
      transition: border-bottom 0.3s;
      &:focus {
        border-bottom: 4px solid $accent-color;
      }
    }
    button {
      background-color: $accent-color;
      color: $clr-black;
      font-family: inherit;
      padding: 1rem;
      width: clamp(200px, 10%, 500px);
      margin: 1.5rem auto;
    }
  }
}

.petTitle2{
	margin-top:1rem;
	width: 100%;
	text-align:center;
	border-radius: 1rem;
	p{
		font-size:5rem;
		color: white;
	}
}

@media screen and (max-width:550px){
	.petTitle2{
		p{
			font-size:3rem;
		}
	}
}

#adminSubmit{
  border-radius: 0.5rem;
  border:black 0.5px solid;
}