div#newPet {
  margin-top: 4rem;
  div#collapse {
    // border-radius: $radius-large;
    background-color: $light-background;
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-left: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 25px 25px 25px 25px;
    h1 {
    font-size: 3rem;
    color: $clr-black;
  }
  #collapsible {
    background-color: $light-background;
    font-size: 3rem;
    cursor: pointer;
    margin: 2rem 2rem;
  }
  }
  div#collapse.active {
    border-radius: 25px 25px 0 0;
  }
  form {
    background-color: $light-background;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: none;
    overflow: hidden;
    border-radius: 0 0 25px 25px;
    transition: all ease-out;  
    div#imageInput {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      div#images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
      }
      @media only screen and (max-width: 700px) {
        & {
          flex-wrap: wrap;
          gap: 0.1vh;
        }
      }
    }
    div#imageInput,
    input[type="text"],
    input[type="date"],
    input[type="url"],
    textarea,
    select {
      background-color: rgba($color: $clr-black, $alpha: 0.1);
      border-bottom: 2px solid $accent-color;
      padding: 1rem;
      width: 100%;
      outline: none;
      font-size: 1.25rem;
      margin: 0.1rem auto;
      font-family: inherit;
      color: inherit;
      resize: none;
      transition: border-bottom 0.3s;
      &:focus {
        border-bottom: 4px solid $accent-color;
      }
    }
    button {
      background-color: $accent-color;
      color: $clr-black;
      font-family: inherit;
      padding: 1rem;
      width: clamp(200px, 10%, 500px);
      margin: 1.5rem auto;
    }
  }
}

.petTitle2{
	margin-top:1rem;
	width: 100%;
	text-align:center;
	border-radius: 1rem;
	p{
		font-size:5rem;
		color: white;
	}
}

@media screen and (max-width:550px){
	.petTitle2{
		p{
			font-size:3rem;
		}
	}
}
@media screen and (max-width: 369px) {
    form.newPetForm {
        textarea {
            height: 6.7rem;
        }
    }
}

#adminSubmit{
  border-radius: 0.5rem;
  border:black 0.5px solid;
}